*{
   font-family: 'Aldrich', sans-serif;
   user-select: none;
}

html{
   height: 100%;
}

body{
   display: flex;
   align-items: center;
   height: 100%;
   background: rgb(54, 54, 54);
   color: white;
   margin: 0;
}

.container{
   width: auto;
}

.clearboth{
   clear: both;
}

.resetButton{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45px;
   height: 45px;
   margin-left: auto;
   margin-right: auto;
   border: 3px solid rgb(0, 210, 93);
   border-radius: 50%;
   font-size: 35px;

}

.controlPanel{
   margin-left: auto;
   margin-right: auto;
   width: 41px;
   font-size: 22px;
   border: 3px solid rgb(0, 210, 93);
   border-radius: 6px;
}

.controlButton:hover{
   background: #454545;
}

.cellSize{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   width: 35px;
}

.theClock{
   margin-left: auto;
   margin-right: auto;
   width: 280px;
   height: 280px;
   border: 4px solid rgb(0, 210, 93);
   border-radius: 50%;
   padding: 4px;
}

.clockTank{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
   border-radius: 50%;
}

.water{
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0px;
   background: rgb(0, 210, 93);
   z-index: -1;
}

.minutes{
   position: absolute;
   font-size: 120px;
}

.seconds{
   position: absolute;
   bottom: 5px;
   font-size: 35px;
}
